
@model lab4.Models.LoginModel
@{
    ViewData["Title"] = "Log In";
}

<h1>Log In</h1>
<br />
@Html.ValidationSummary() 
<form method="post">
    <label asp-for="Email" class="font-weight-bold" style="margin:0 0 -5px 0;"></label><br />
    <input type="text" asp-for="Email" /><span asp-validation-for="Email"></span>
    <br />
    <label asp-for="Password" class="font-weight-bold" style="margin:8px 0 -5px 0;"></label><br />
    <input type="password" asp-for="Password" /><br />

    <input type="submit" value="Log In" class="btn btn-outline-primary" style="margin: 15px 0 0 0;" />
</form>


