@model lab4.Models.TextInputModel
@{
    ViewData["Title"] = "Reset your password";
}

<h1>Reset your password</h1>
<br />
@if (ViewBag.code != null)
{
    <script>
        alert("Your conformation code: @ViewBag.code");
    </script>
}

<form method="post">
    <div class="font-weight-bold">Code</div>
    <input type="text" asp-for="Text" style="margin:-15px 0 0 0; width: 265px;" /> <span asp-validation-for="Text" style="color: red;"></span>
    <br />
    <div style="margin:10px 0 0 0;">
        <input type="submit" value="Verify" class="btn btn-outline-primary" name="action" />
    </div>
</form>

