@{
    ViewData["Title"] = "Multi-staged forms";
}

<h1>Multi-staged forms</h1>
<div>
    <ul>
        <li><a asp-controller="Account" asp-action="LogIn">Log In</a></li>
        <li><a asp-controller="Account" asp-action="SignUp_1">Sign Up</a></li>
        <li><a asp-controller="Account" asp-action="SignedIn">My Profile</a></li>
    </ul>
</div>
