@model lab4.Models.BoolInputModel
@{
    ViewData["Title"] = "Check Box";
}

<h1>Check Box</h1>
<div>
    @if (Model == null)
    {
        <form method="post">
            <input asp-for="isSelected" type="checkbox" />  <label asp-for="isSelected"></label><br />
            <input type="submit" value="Submit" class="btn btn-outline-primary" style="margin: 5px 0 0 0;" />
        </form>
    }
    else
    {
        <label asp-for="isSelected" class="col-form-label font-weight-bold col-md-3 text-md-right"></label> @Model.isSelected
    }
</div>
