@model lab4.Models.OneSelectModel
@{
    ViewData["Title"] = "Radio";
}

<h1>Radio</h1>
<div>
    @if (Model == null)
    {
    <form method="post">
        <input asp-for="Month" name="month" type="radio" value="January" /> January <br />
        <input asp-for="Month" name="month" type="radio" value="February" /> February <br />
        <input asp-for="Month" name="month" type="radio" value="March" /> March <br />
        <input asp-for="Month" name="month" type="radio" value="April" /> April <br />
        <input asp-for="Month" name="month" type="radio" value="May" /> May <br />
        <input asp-for="Month" name="month" type="radio" value="June" /> June <br />
        <input asp-for="Month" name="month" type="radio" value="July" /> July <br />
        <input asp-for="Month" name="month" type="radio" value="August" /> August <br />
        <input asp-for="Month" name="month" type="radio" value="September" /> September <br />
        <input asp-for="Month" name="month" type="radio" value="October" /> October <br />
        <input asp-for="Month" name="month" type="radio" value="November" /> November <br />
        <input asp-for="Month" name="month" type="radio" value="December" /> December <br />
        <br />
        <input type="submit" value="Submit" class="btn btn-outline-primary" style="margin: 5px 0 0 0;" />
    </form>
    }
    else
    {
        <label asp-for="Month" class="col-form-label font-weight-bold col-md-3 text-md-right"></label> @Model.Month
    }
</div>
